[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Icon=/home/__USERNAME__/.local/share/umake/ide/eclipse/java.png
Exec="/home/__USERNAME__/.local/share/umake/ide/eclipse/eclipse" %f
Comment=Eclipse Java IDE
Categories=Development;IDE;
Terminal=false
X-XFCE-Source=file:///home/__USERNAME__/.local/share/applications/eclipse-java.desktop
