[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/google-chrome-stable %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;
X-XFCE-Source=file:///usr/share/applications/google-chrome.desktop

[Desktop Action NewWindow]
Name=New Window
Exec=/usr/bin/google-chrome-stable

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
Exec=/usr/bin/google-chrome-stable --incognito
